<h2>Import Sales from CSV</h2>

<% if flash[:imported_batch_revenue] %>
  <strong>Revenue for last imported batch of sales:</strong> <%= number_to_currency(flash[:imported_batch_revenue]) %>
  <br>
<% end %>

<strong>Revenue across all imported sales:</strong> <%= number_to_currency(@revenue_for_all_sales) %>

<%= form_tag import_sales_path, multipart: true do %>
  <%= file_field_tag :csv_file, accept: 'text/csv', class: "centered_container--file_selection" %>
  <%= submit_tag "Import", class: "centered_container--centered_container_button" %>
<% end %>
